/* dropify file upload custome css */
.dropify-wrapper, .dropify-wrapper .dropify-clear{
    font-family: inherit;
}
.dropify-wrapper{
    background: rgba(var(--brand-secondary-rgb), .03);
    border-color: rgba(var(--brand-secondary-rgb), .35);
    border-radius: 8px;
    border-width: 1px;
    border-style: dashed;
}
.dropify-wrapper:hover{
    background-image: linear-gradient(-45deg,rgba(var(--brand-secondary-rgb), .1) 25%,transparent 25%,transparent 50%,rgba(var(--brand-secondary-rgb), .1) 50%,rgba(var(--brand-secondary-rgb), .1) 75%,transparent 75%,transparent);
}
.dropify-wrapper:hover .dropify-message span.file-icon{
    opacity: 1;
}
.dropify-wrapper .dropify-message span.file-icon{
    color: var(--brand-secondary) !important;
    opacity: .3;
}
.dropify-wrapper .dropify-message span.file-icon p{
    font-size: 18px;
}