@font-face {
    font-family: 'avenirblack';
    src: url('avenir_black.woff2') format('woff2'),
         url('avenir_black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'avenirbook';
    src: url('avenir_book.woff2') format('woff2'),
         url('avenir_book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'avenirheavy';
    src: url('avenir_heavy.woff2') format('woff2'),
         url('avenir_heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'avenirlight';
    src: url('avenir_light.woff2') format('woff2'),
         url('avenir_light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'avenir_regularregular';
    src: url('avenir_regular.woff2') format('woff2'),
         url('avenir_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.avenirblack{
    font-family: 'avenirblack';
}
.avenirbook{
    font-family: 'avenirbook';
}
.avenirheavy{
    font-family: 'avenirheavy';
}
.avenirlight{
    font-family: 'avenirlight';
}